# Student Id: 202518036
# Name: Kashyap S. Patel
# Lab Assignment 3

In [1]:
import pandas as pd
import numpy as np

## Part 1

In [2]:
df = pd.read_csv("../datasets/titanic.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### 1

In [6]:
ages = df.Age.values

In [7]:
fares = df.Fare.values

In [9]:
age_median = np.nanmedian(ages)
age_median

28.0

In [12]:
cleaned_ages = np.where(np.isnan(ages), age_median, ages)

In [15]:
fares_in_euros = fares * 1.18

### 2

In [16]:
avg_age = np.average(cleaned_ages)
avg_age

29.36158249158249

In [17]:
age_std_dev = np.std(cleaned_ages)
age_std_dev

13.012388272793666

In [18]:
min_age = np.min(cleaned_ages)
min_age

0.42

In [19]:
max_age = np.max(cleaned_ages)
max_age

80.0

### 3

In [ ]:
boolean_gt_50 = fares > 50

In [23]:
count_gt_50 = len(fares[boolean_gt_50])
count_gt_50

160

In [26]:
ages_gt_50 = cleaned_ages[boolean_gt_50]
ages_gt_50

array([38.  , 35.  , 54.  , 19.  , 28.  , 28.  , 42.  , 49.  , 65.  ,
       38.  , 45.  , 21.  , 32.  , 23.  , 46.  , 23.  , 21.  , 47.  ,
       24.  , 21.  , 54.  , 37.  , 24.  , 22.  , 51.  , 28.  , 28.  ,
       28.  , 28.  , 58.  , 28.  , 31.  , 32.  , 38.  , 35.  , 44.  ,
       37.  , 28.  , 30.  , 35.  , 52.  , 58.  , 35.  , 63.  , 26.  ,
       19.  ,  2.  , 50.  ,  0.92, 28.  , 17.  , 30.  , 24.  , 18.  ,
       31.  , 40.  , 28.  , 36.  , 16.  , 38.  , 28.  , 29.  , 41.  ,
       24.  , 22.  , 60.  , 24.  , 25.  , 22.  , 28.  , 27.  , 42.  ,
       35.  , 18.  , 36.  , 23.  , 33.  , 50.  , 14.  , 64.  ,  4.  ,
       49.  , 28.  , 28.  , 25.  , 35.  , 54.  , 25.  , 16.  , 18.  ,
       26.  , 54.  , 30.  , 44.  , 28.  , 30.  , 36.  , 50.  , 17.  ,
       28.  , 39.  , 53.  , 39.  , 39.  , 18.  , 60.  , 52.  , 49.  ,
       40.  , 24.  , 42.  , 21.  , 24.  , 28.  , 48.  , 24.  , 58.  ,
       50.  , 32.  , 28.  , 31.  , 36.  , 27.  , 15.  , 31.  , 28.  ,
       49.  , 18.  , 22.  , 48.  , 38.  , 27.  , 29.  , 35.  , 36.  ,
       21.  , 70.  , 19.  , 48.  , 33.  , 36.  , 51.  , 43.  , 17.  ,
       46.  , 28.  , 11.  , 33.  , 52.  , 28.  , 62.  , 39.  , 32.  ,
       28.  , 28.  , 45.  , 28.  , 31.  , 47.  , 56.  ])

## Part 2

### 1

In [27]:
df = pd.read_csv("../datasets/titanic.csv")
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### 2

In [29]:
df.drop('Cabin', axis=1, inplace=True)

In [31]:
df['Age'].fillna(df['Age'].mean(), inplace=True)

In [35]:
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB

### 3

In [40]:
df['FamilySize'] = df['SibSp'] + df['Parch'] + 1

In [42]:
bins = [0, 12, 19, 59, float('inf')]
labels = ["Child", "Teen", "Adult", "Senior"]
df["AgeGroup"] = pd.cut(df["Age"], bins=bins, labels=labels, right=True)

### 4

In [51]:
df[df['Survived'] == 1][["Name", "Sex", "AgeGroup"]]

                                                  Name     Sex AgeGroup
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female    Adult
2                               Heikkinen, Miss. Laina  female    Adult
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female    Adult
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female    Adult
9                  Nasser, Mrs. Nicholas (Adele Achem)  female     Teen
..                                                 ...     ...      ...
875                   Najib, Miss. Adele Kiamie "Jane"  female     Teen
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female    Adult
880       Shelley, Mrs. William (Imanita Parrish Hall)  female    Adult
887                       Graham, Miss. Margaret Edith  female     Teen
889                              Behr, Mr. Karl Howell    male    Adult

[342 rows x 3 columns]

In [54]:
df[(df['Sex'] == 'female') & (df['Pclass'] == 1)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize,AgeGroup
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C,2,Adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,S,2,Adult
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.000000,0,0,113783,26.5500,S,1,Adult
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,29.699118,1,0,PC 17569,146.5208,C,2,Adult
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.000000,1,0,PC 17572,76.7292,C,2,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...
856,857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.000000,1,1,36928,164.8667,S,3,Adult
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.000000,0,0,17466,25.9292,S,1,Adult
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.000000,1,1,11751,52.5542,S,3,Adult
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.000000,0,1,11767,83.1583,C,2,Adult
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,S,1,Teen

In [55]:
df[(df['Embarked'] == 'S') & (df['Fare'] < 10)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize,AgeGroup
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,S,2,Adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,S,1,Adult
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,S,1,Adult
12,13,0,3,"Saundercock, Mr. William Henry",male,20.000000,0,0,A/5. 2151,8.0500,S,1,Adult
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.000000,0,0,350406,7.8542,S,1,Teen
...,...,...,...,...,...,...,...,...,...,...,...,...,...
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.000000,0,0,7534,9.8458,S,1,Adult
877,878,0,3,"Petroff, Mr. Nedelio",male,19.000000,0,0,349212,7.8958,S,1,Teen
878,879,0,3,"Laleff, Mr. Kristo",male,29.699118,0,0,349217,7.8958,S,1,Adult
881,882,0,3,"Markun, Mr. Johann",male,33.000000,0,0,349257,7.8958,S,1,Adult
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.000000,0,0,SOTON/OQ 392076,7.0500,S,1,Adult

### 5

In [56]:
df.groupby("Survived")["Age"].mean()

Survived
0    30.415100
1    28.549778
Name: Age, dtype: float64

In [57]:
df.groupby(["Sex", "Pclass"])["Survived"].mean()

Sex     Pclass
female  1         0.968085
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.135447
Name: Survived, dtype: float64

### 6

In [58]:
df.to_csv("../datasets/titanic_processed.csv", index=False)